<link rel="stylesheet" href="/css/product.style.css" />
<link rel="stylesheet" href="/css/carts.style.css" />
<title>Users</title>
<div class="main-container">
	<div id="custom-target"></div>
	<div class="user-role-edition-modal modal animate__animated animate__faster">
		<form
			action="/api/user/:uid"
			id="userRoleEdit"
			class="form hidden animate__animated animate__faster width-md"
			method="PATCH"
			enctype="multipart/form-data"
		>
			<div class="form-title">Editar rol</div>
			<div class="subtitle">Modifica el rol del usuario</div>
			<div class="input-container ic1">
				<div class="cut cut-short"></div>
				<label for="uid" class="placeholder">Rol</label>
				<select class="form-control selector-control" id="role" name="role">
					<option value="user">user</option>
					<option value="admin">admin</option>
				</select>
			</div>
			<button type="submit" class="btn submit edit-role-btn">
				<i class="fas fa-save"></i>
				&nbsp;
				<span>Guardar</span>
			</button>
		</form>
	</div>
	<div class="overlay hidden animate__animated animate__faster"></div>
	<div class="cart-main-container">
		<div class="list-header">
			<div class="list-title">
				<a href="/">Products </a>
				/ Users
			</div>
			<div class="profile-header">
				<div class="greeting-container">
					<p class="profile-greeting">Hola,
						<span class="profile-user-name"> {{user.first_name}}</span>
					</p>
				</div>
				<div class="profile-icons">
					{{#if user.isGuest}}
						<a
							title="Ingresar"
							class="profile-login profile-icon"
							href="/login"
							alt="Login"
						>
							<i class="fas fa-sign-in-alt fa-lg"></i>
						</a>
						<a
							title="Registrarse"
							class="profile-register profile-icon"
							href="/register"
							alt="Register"
						>
							<i class="fas fa-user-plus fa-lg"></i>
						</a>
					{{else}}
						{{#if user.isAdmin}}
							<a
								title="Ver todos los carritos"
								class="profile-icon carts-icon"
								href="/carts"
								alt="Ver todos los carritos"
							>
								<i class="fas fa-shopping-cart fa-lg"></i>
							</a>
							<a
								title="Cargar nuevo producto"
								class="profile-icon open-modal-btn"
								alt="Cargar nuevo producto"
							>
								<i class="fas fa-upload fa-lg"></i>
							</a>
							<a
								title="Ver usuarios"
								class="profile-icon users-icon"
								href="/users"
								alt="Ver usuarios"
							>
								<i class="fas fa-users fa-lg"></i>
							</a>
						{{else}}
							<a
								title="Ver carrito"
								class="profile-cart profile-icon"
								href="/cart/{{user.cart._id}}"
								alt="View cart"
								id={{user.cart._id}}
							>
								<i class="fas fa-shopping-cart fa-lg"></i>
								{{#if user.cartCount}}
									<span id="lblCartCount1" class="cart-badge badge-warning">
										{{user.cartCount}}
									</span>
								{{else}}
									<span
										id="lblCartCount2"
										class="cart-badge badge-warning hidden"
									>
										0
									</span>
								{{/if}}
							</a>
							<a
								title="Ver perfil"
								class="profile-view profile-icon"
								href="/profile"
								alt="View profile"
							>
								<i class="fas fa-user fa-lg"></i>
							</a>
						{{/if}}
						<a
							title="Salir"
							id="{{user.email}}"
							class="profile-logout profile-icon"
							href="/logout"
							alt="Logout"
						>
							<i class="fas fa-sign-out-alt fa-lg"></i>
						</a>
					{{/if}}
				</div>
			</div>
		</div>
		<div class="list-container">
			<div class="cart-products-container">
				{{#each users}}
					<div class="product-card" id={{this._id}}>
						<div class="product-card-header">
							<div class="product-card-details">
								User ID:
								{{this._id}}
							</div>
						</div>
						<div class="user-data">
							<div class="user-data-item">
								<div class="user-data-title">First Name</div>
								<div class="user-data-value">{{this.first_name}}</div>
							</div>
							<div class="user-data-item">
								<div class="user-data-title">Last Name</div>
								<div class="user-data-value">{{this.last_name}}</div>
							</div>
							<div class="user-data-item">
								<div class="user-data-title">Email</div>
								<div class="user-data-value">{{this.email}}</div>
							</div>
							<div class="user-data-item">
								<div class="user-data-title">Rol</div>
								<div class="user-data-value">
									<i class="fas fa-edit"></i>

									{{this.role}}
								</div>
							</div>
						</div>
						<div class="user-card-body">
							<button class="btn delete-btn" id={{this._id}}>
								<i class="fas fa-trash-alt"></i>
							</button>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
<script src="/js/user.js" defer></script>